.RollDice {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

.RollDice button {
    width: 15em;
    padding: 1.5em;
    border: 0px;
    border-radius: 10px;
    color: white;
    background-color: black;
    margin-top: 3em;
    align-self: center;
}

.RollDice button:hover {
    background-color: darksalmon;
    cursor: pointer;
}

.RollDiceContainer {
    display: flex;
    justify-content: center;
    align-content: center;
}